<div class="sidebar d-flex flex-column">

<div class="p-4 mb-3">
<h4 class="fw-bold">
<i class="fa-solid fa-shop me-2"></i>MiniMarket
</h4>
</div>

<nav class="nav flex-column">

<a class="nav-link" href="/pages/products.html">
<i class="fa-solid fa-boxes-stacked me-2"></i> Tồn kho
</a>

<a class="nav-link" href="/pages/index.html">
<i class="fa-solid fa-cart-shopping me-2"></i> Bán hàng (POS)
</a>

<a class="nav-link" href="/pages/orders.html">
<i class="fa-solid fa-receipt me-2"></i> Hóa đơn
</a>

<a class="nav-link" href="/pages/reports.html">
<i class="fa-solid fa-chart-line me-2"></i> Báo cáo
</a>

<a class="nav-link" href="/pages/setting.html">
<i class="fa-solid fa-gear me-2"></i> Cài đặt
</a>

<a class="nav-link" onclick="logout()">
<i class="fa-solid fa-right-from-bracket me-2"></i> Logout
</a>
</nav>

</div>